{% extends 'base.html' %}

{% block titulo %}Monitoreo de servidores{% endblock %}

{% block encabezado %}Monitoreo de servidores{% endblock %}

{% block contenido %}

{% if errores %}
<div class="alert alert-danger">
  <strong>ERROR</strong> {{ errores }}  
</div>
{% endif %}
  
<form method="POST" action="/login/">
  {% csrf_token %}
  <div class="row">
    <div class="col-sm-5">Usuario:</div>
    <div class="col-sm-7"><input type="text" name="usuario" required></div>
  </div>

  <div class="row">
    <div class="col-sm-5">Password:</div>
    <div class="col-sm-7"><input type="password" name="password" required></div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><input type="submit" value="Login"></div>
    <div class="col-sm-4"></div>
  </div>
  
</form>

{% endblock %}