{% extends 'base.html' %}

{% block titulo %}Monitoreo de servidores{% endblock %}

{% block encabezado %}Registrar usuario administrador de servidores{% endblock %}

{% block contenido %}
<a href="/funcionesAdminGlobal/">Regresar</a><br>
<a href="/logout/">Cerrar sesión</a>
{% if errores %}
<div class="alert alert-danger">
  <strong></strong> {{ errores }}
</div>
{% endif %}
  
<form method="POST" action="/registrarAdminServ/">
  {% csrf_token %}
  <div class="row">
    <div class="col-sm-5">Usuario:</div>
    <div class="col-sm-7"><input type="text" name="usuario" required></div>
  </div>

  <div class="row">
    <div class="col-sm-5">Password:</div>
    <div class="col-sm-7"><input type="password" name="password" required></div>
  </div>

  <div class="row">
    <div class="col-sm-5">ChatID:</div>
    <div class="col-sm-7"><input type="password" name="chatID" required></div>
  </div>

  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><input type="submit" value="Registrar"></div>
    <div class="col-sm-4"></div>
  </div>
  
</form>

{% endblock %}